<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="description" content="The personal website of Iain Collins"/>
        <meta name="google-site-verification" content="x8SYehTHvjtgWTS1VPhv8iabMI2mA8l4AZcZqRr0ejE"/>
        <title>iaincollins.com - <%= title %></title>
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
        <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'/>
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
        <script src="/js/javascript.js"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="<%= theme %>">
        <div class="navbar navbar-default" role="navigation">
            <div class="cityscape">
                <div class="city">
                    <div class="buildings-background"></div>
                    <div class="buildings-foreground"></div>
                    <div class="landmarks"></div>
                    <div class="london-eye"></div>
                    <div class="fog-container">
                        <div class="fog"></div>
                    </div>
                </div>
                <h1><span class="title hide"><%= title %></span><span class="block pull-right"></span></h1>
            </div>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="hidden-xs navbar-brand<% if (template == "home") { %> active<% } %>" href="/"><i class="fa fa-lg fa-home"></i></a>
                    <a class="visible-xs navbar-brand<% if (template == "home") { %> active<% } %>" href="/"><i class="fa fa-lg fa-home"></i> iaincollins.com</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                    <li<% if (template == "software") { %> class="active"<% } %>><a href="/software"><i class="fa fa-lg fa-code"></i> Software</a></li>
                    <li<% if (template == "contact") { %> class="active"<% } %>><a href="/contact"><i class="fa fa-lg fa-phone"></i>  Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <!-- Begin main content -->
<%- body %>
            <!-- End main content -->
        </div>
        <footer>
            <div class="footer">
                <div class="container hidden-xs">
                    <p class="quote">
                        <span class="eight-ball">Magic 8 Ball says</span> &ldquo;<a href="http://starwars.com"><%= quote %></a>&rdquo;
                    </p>
                    <p>
                        <a class="love-html5" href="http://validator.w3.org/check?uri=referer">HTML5</a>
                    </p>
                </div>
                <div class="container visible-xs">
                    <p>
                        <a class="love-html5" href="http://validator.w3.org/check?uri=referer">HTML5</a>
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>